/*********************************************
 * List
 *********************************************/
.reveal {
	.list {
		text-align: left;
		width: 100%;
		display: block;
		margin: 0 auto;
		// font-family: $headingFont;
		margin: 0 auto;
		ul {
			width: 100%;
			margin: 0;
			list-style: none;
			padding-top: 0.5em;
		}
		li {
			margin-bottom: 0.5em;
			line-height: 1.2;
		}
	}
	.list__heading {
		text-align: left;
		position: relative;
		display: inline;
		background-size: 100% 0.15em;;
		background-repeat: no-repeat;
		background-position: 0 1em;
		overflow: hidden;
		font-family: $headingFont;
		background-image: linear-gradient(to bottom, $color-pink 0%, $color-pink 100%);
		text-shadow: 0px 0.025em 0.1em rgba(0,0,0,0.2);
		// &:after {
		// 	content: '';
		// 	width: 100%;
		// 	height: .1em;
		// 	bottom: 0em;
		// 	left: -.05em;
		// 	z-index: -1;
		// 	transform: skew(-7.77deg);
		// 	border-radius: .01em;
		// 	background: -pink;
		// 	position: absolute;
		// }
	}
}