.demo {
	font-size: 30px;
	font-family: $headingFont;
	background-color: transparent;

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}
	.font-pinopolis {
		font-family: $mainFont;
		font-weight: 400;
	}
	.container {
		// padding-top: 2em;
		height: 100%;
	}
	.bold {
		font-weight: bold;
		color: red;
	}
	.text-center {
		text-align: center;
	}

	//button 
	.button:active {
		transform: translateY(0.2em);
	}
	.button {
		font-size: inherit;
		font-family: $headingFont;
		border: 6px solid $color-isl-blue;
		padding: .8125rem 2.9375rem;
		font-weight: 700;
		position: relative;
		display: inline-block;
		letter-spacing: 0.05em;
		transition: color 0.3s;
		overflow: hidden;
		cursor: pointer;
		background-color: transparent;
		color: $color-isl-blue;
		transition: transform 0.2s, color 0.2s, background-color 0.2s;
	}
	.button:focus {
		background-color: transparent;
		color: $color-isl-blue;
		outline: none !important;
	}
	.button:hover {
		background-color: $color-isl-blue;
		color: #fafafa;
	}
	.button + .button {
		margin-left: 2em;
	}
	.button:hover {
		color: #fafafa;
	}
	.button--slash {
		&:before {
			content: '';
			position: absolute;
			height: 400%;
			width: 0%;
			transform-origin: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)rotate(-45deg);
			background-image: linear-gradient(to left, #43f8df 0%, #43d8f8 100%);
			transition: all 0.4s;
			z-index: -1;
		}
		&:after {
			content: 'me too';
			position: absolute;
			color: #43d8f8;
			width: 100%;
			top: 50%; 
			left: 50%; 
			transform: translate(-50%, -50%);
			text-align: center;
			transition: color 0.3s, letter-spacing 0.3s;
		}
		&:hover {
			transition-delay: 0ms;
			color: transparent;
			background-color: transparent;
			&:before {
				width: 100%;
			}
			&:after {
				width: 100%;
				color: #fafafa;
				letter-spacing: 0.1em;
			}
		}
	}

	.button--goo {
		transition: color 600ms, transform 200ms;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $color-isl-blue;
			z-index: -1;
			transform: translateY(100%) translateZ(0);
			transition: transform 600ms;
		}
		&:hover {
			background-color: transparent;
			.button__blob {
				transform: scale(1.4) translateY(0) translateZ(0);
				&:nth-child(1) {
					transition-delay: 0s;
				}
				&:nth-child(2) {
					transition-delay: .1s;
					transform: scale(1.4) translateY(0) translateZ(0) rotate(25deg);
				}
				&:nth-child(3) {
					transition-delay: 50ms;
					transform: scale(1.6) translateY(0) translateZ(0);
				}
				&:nth-child(4) {
					transition-delay: 120ms;
					transform: scale(1.5) translateY(0) translateZ(0) rotate(-25deg);
				}
			}
			&:after {
				transform: translateY(-50%) translateZ(0);
				transition: transform 0s;
				transition-delay: 600ms;
			}
		}
	}
	.button__beaker {
		display: block;
		overflow: hidden;
		filter: url(#goo);
		position: absolute;
		top: -3px;
		left: 0;
		bottom: -3px;
		right: -1px;
		z-index: -1;
	}
	.button__blob {
		display: block;
		position: absolute;
		width: 30%;
		height: 100%;
		border-radius: 100%;
		background-color: #43d8f8;
		-webkit-transform: scale(1.3) translateY(125%) translateZ(0);
		transform: scale(1.3) translateY(125%) translateZ(0);
		transition: all 600ms;
		&:nth-child(1) {
			left: -5%;
			transition-delay: 0s;
		}
		&:nth-child(2) {
			left: 20%;
			transition-delay: 50ms;
		}
		&:nth-child(3) {
			left: 45%;
			transition-delay: 25ms;
		}
		&:nth-child(4) {
			left: 75%;
			transition-delay: 50ms;
		}
	}

	// progress bar
	// <div class="debug">
	// 	<h3 class="debug__title">Behind the scenes<br>HTTP request progress</h3>
		
	// 	<div class="debug__bar">
	// 		<div class="debug__progress js-debug-progress"></div>
	// 	</div>
	// 	<h6 class="js-debug-details debug__readout">0% complete</h6>
	// </div>
	.debug {
		border: 1px solid black;
		padding: 1em;
		box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15);
		border-radius: 3px;
	}
	.debug__title {
		line-height: 1.2em;
		margin-bottom: 0.5em;
	}
	.debug__progress {
		transition: 0.1s width;
		width: 0;
		height: 100%;
		background-color: $color-isl-blue;
	}
	.debug__bar {
		height: 0.75em;
		position: relative;
		&:after {
			content: '';
			background: #ccc;
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			z-index: -1;
		}
	}
	.debug__readout {
		font-family: 'pinopolis';
	}

	
	// instagram media
	// <div class="media">
	// 	<div class="media__img">
	// 		<img src="../img/goat.jpg" alt="">
	// 	</div>
	// 	<div class="media__description">
	// 		<h3>What a gallant goaty!</h3>
	// 	</div>
	// 	<div class="media__controls js-like-button">
	// 		<div class="media__like">
	// 			<svg class="heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path class="heart__border" d="M68.896,11.653c-7.243,0-13.985,2.917-18.896,8.091c-4.912-5.174-11.652-8.091-18.896-8.091   C16.711,11.653,5,23.364,5,37.757c0,25.25,42.057,48.978,43.847,49.976l1.101,0.614l1.124-0.571C52.866,86.865,95,65.155,95,37.757   C95,23.364,83.289,11.653,68.896,11.653z M50.049,82.955C43.462,79.064,9.737,58.141,9.737,37.757   c0-11.782,9.586-21.368,21.368-21.368c6.728,0,12.928,3.075,17.011,8.438L50,27.303l1.885-2.475   c4.082-5.363,10.282-8.438,17.011-8.438c11.782,0,21.368,9.586,21.368,21.368C90.263,59.952,56.668,79.35,50.049,82.955z"/><path class="heart__fill js-heart-fill" d="M68.896,16.39c-6.729,0-12.929,3.075-17.011,8.438L50,27.303l-1.885-2.475   c-4.083-5.363-10.283-8.438-17.011-8.438c-11.782,0-21.368,9.586-21.368,21.368c0,20.384,33.725,41.307,40.312,45.198   c6.619-3.605,40.214-23.003,40.214-45.198C90.263,25.975,80.678,16.39,68.896,16.39z"/></g></svg>
	// 		</div><span>like</span>
	// 	</div>
	// </div>
	.media {
		padding: 1rem;
		border: 1px solid black;
		background-color: #fafafa;
		box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15);
		border-radius: 3px;
	}
	.media__img {
		margin-bottom: 1rem;
	}
	.media__controls {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		font-size: 0.75em;
		font-family: 'pinopolis';
	}
	.media__like {
		display: inline-block;
		margin-right: 0em;
	}
	.media__description {
		//font-size: 1.5em;
	}
	.heart {
		height: 2em;
		overflow: visible;
	}
	.heart__fill {
		transform-origin: center;
		fill: red;
	}
	.heart__border {
		transform: scale(0.75);
		transform-origin: center;
	}

	.text-input {
		
	}
	.text-input__label {
		font-size: 0.5em;
		font-family: $mainFont;
	}
	.text-input__input {
		width: 100%;
		font-size: 0.9em;
		padding: 0.2em;
		font-family: $mainFont;
	}
}