/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	font-family: $headingFont !important;
	// position: relative;
	// display: inline-block;
	// &:after {
	// 	content: '';
	// 	width: 100%;
	// 	height: .1em;
	// 	bottom: 0em;
	// 	left: -.05em;
	// 	z-index: -1;
	// 	transform: skew(-7.77deg);
	// 	border-radius: .01em;
	// 	background: $color-pink;
	// 	position: absolute;
	// }
	&::selection, &::-moz-selection {
		background: $color-isl-blue !important;
	}
}
.reveal h1 {
	margin-bottom: 0.5em;
}
.reveal section img {
	box-shadow: 0 0.2em 1em 0em rgba(0, 0, 0, 0.2);
	border: none;
}
.reveal .main-title {
	color: $color-pink;
	@include ThreeDText($color-purple, 15, 0.5);
}
.reveal .title {
	// font-size: 3.2em;
	display: inline-block;
	width: auto;
	position: relative;
	font-size: 3em;
	// color: $color-electric-blue;
	// color: $color-purple;
	// @include ThreeDText($color-electric-green, 10, 0.5);

	color: $color-pink;
	@include ThreeDText($color-purple, 10, 0.5);

	// @include CrossBox($color-electric-blue, $color-electric-green);
	// @include CrossBox($color-purple, $color-electric-green);
}
.reveal .sub-title {
	font-size: 2.7em;
	padding-bottom: 0.1em;
}
.reveal .title--gradient {
	color: $color-pink;
	@supports (-webkit-background-clip: text) {
		background: linear-gradient(150deg, $color-pink, $color-purple) repeat;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		color: transparent;
		background-size: 100%;
	}
}
.citation, .reveal .citation {
	font-family: $headingFont !important;
	left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    // padding-top: 1em;
    margin-top: 1em;
    width: auto;
    color: rgba(0,0,0,.2);
}
.reveal .end-link {
	color: rgba(0,0,0,0.6);
}