@mixin ThreeDText ($color, $depth, $darken: 0) {
  $val: ();
  @for $i from 1 to $depth {
    $val: append($val, #{$i}px #{$i}px 0px darken($color, $darken * $i), comma);
  }
  text-shadow: $val;
}

@mixin CrossBox($color1, $color2, $padding: 0.4, $offset: 0.1, $borderWidth: 0.1, $radius: 0.05) {
	&:after, &:before {
    content: '';
    height: calc(100% + #{$padding}em);
    width: calc(100% + #{$padding}em);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: #{$radius}em;
  }
  &:after {
    top: calc(50% - #{$offset}em);
    left: calc(50% - #{$offset}em);
    border: #{$borderWidth}em solid $color1;
  }
  &:before {
    top: calc(50% + #{$offset}em);
    left: calc(50% + #{$offset}em);
    border: #{$borderWidth}em solid $color2;
  }
}