/*********************************************
 * UTILS
 *********************************************/
.u-text-left {
	text-align: left;
}
.u-text-center {
	text-align: center;
}
.u-inline-block {
	display: inline-block;
}
.u-pt-04 {
	padding-top: 0.4em !important;
}
.u-mb-1r {
	margin-bottom: 1rem;
}
.u-mb-2r {
	margin-bottom: 2rem;
}
.u-max-h-45vh {
	max-height: 45vh;
}
.u-max-h-75vh {
	max-height: 75vh !important;
}
.u-underline {
	position: relative;
	display: inline;
	background-size: 100% 0.15em;;
	background-repeat: no-repeat;
	background-position: 0 1em;
	overflow: hidden;
	font-family: $headingFont;
	background-image: linear-gradient(to bottom, $color-pink 0%, $color-pink 100%);
	text-shadow: 0px 0.025em 0.1em rgba(0,0,0,0.15);
}

.u-flex {
	display: flex;
	flex-direction: column;
}
.u-align-center {
	align-items: center;
}
.u-align-middle {
	justify-content: center;
}

.u-block {
	display: block;
}

.u-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}